<h1>Show Cart</h1>
<table class="table table-striped table-success">
  <thead class="thead-dark">
    <tr scope="row">
      <th scope="col"><strong>Product</strong></th>
      <th scope="col"><strong>Category</strong></th>
      <th scope="col"><strong>Price</strong></th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
    <% @cart.each do |c| %>
    <tr>
      <td>
        <%= cl_image_tag c.product.image, class: :product_cart_image%>
      </td>
      <td>
        <%= c.product.name %>
      </td>
      <td>
        <%= number_to_currency(c.product.price) %>
      </td>
      <td>
        <%= link_to "Delete", remove_from_cart_path(c.id), method: :delete %>
      </td>
    </tr>
    <% end %>
    </tbody>
</table>
<br>
<br>
<%= button_to 'Check Out', check_out_path(@cart), class: :button%>
