<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <div class="main">
      <h1>Shopping Cart</h1>
      <nav class="right_nav">
        <% if @current_user.present?%>
          <%= link_to 'Home', categories_path%>
          <%= link_to 'Cart', show_cart_path%>
          Welcome, <%= @current_user.name%>
          |
          <%= link_to 'Logout', login_path, method: :delete%>
        <% else %>
          <%= link_to 'login', login_path%>
          |
          <%= link_to 'Sign Up', new_user_path%>
        <% end %>
      </nav>
      <div class="clearfix">
        <nav class="left_nav">

        </nav>
      </div>
      <hr>
      <%= yield %>
  </div>
</body>
</html>
